body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2EFE7;
    display: flex;
    flex-direction: column;
    
}

button{
    cursor: pointer;
}

.add-book-btn{
    margin: 25px auto;
    background-color: #006A71;
    color: #F2EFE7;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.remove{
    background-color: #f44444;
    
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006A71;
    height: 100px;
    width: 100%;
    box-shadow: 0 4px 6px #006A71;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 350px;
    border: solid 2px #006A71;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#read, #not-read, .remove{
    color: #F2EFE7;
    border: none;
    border-radius: 3px;
    width: 175px;
    padding: 5px 10px;
    
}

#read, #m-read{
    background-color: #006A71;
}

#not-read, #m-read{
    background-color: grey;
}

/* MODAL AND FORM STYLES*/

.book-form-card{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 250px;
    height: 500px;
    
}

.book-form-card label{
    font-size: 1.25rem;
    font-weight: 600;

}

.book-form-card input{
    padding: 10px 20px;
    border-radius: 3px;
    border-color: #006A71;
   
}

.book-form-card input:focus{
    outline: none; 
    border-color: #006A71; 
    box-shadow: 0 0 0 3px rgba(0, 150, 136, 0.3); 
}

.book-form-card #add-modal-btn, #cancel-modal-btn, #m-read{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
}

.book-form-card #add-modal-btn{
    background-color: #006A71;
}

.book-form-card #cancel-modal-btn{
    background-color: #f44444;
}

.book-modal{
    border: 10px solid #006A71;
    border-radius: 5px;
    height: 500px;
    
}

.book-info{
    border: 2px solid #006A71;
    width: 175px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
}





